{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Hello Friend!{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
{{/block}}

        <!-- begin intemplateslate-->
        <div class="container">
            {{#block "content"}}{{/block}}
        </div>
        <!-- end intemplateslate-->

{{#block "footer"}}
    </body>
    </html>
{{/block}}